<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    <script src="/assets/todo-list.js"></script>
    <title>ToDo List</title>
</head>
<body>
    <h1>My Todo List</h1>
    <div id="todo-table">
        <form> 
            <input type="text" name="item" placeholder="Add New Item..." required />
            <button type="submit">Add item</button>
        </form>   
    </div>
    <ul>
        <% for(var i=0;i < todos.length; i++){ %>
            <li><%= todos[i].item %></li>
        <% } %>
    </ul>
</body>
</html>